$bgcolor: #002135;
$bdcolor: #006ca8;

html {
  height: 100%;
}

//pc
@media screen and (min-width: 1300px) {
  small{ font-size:12px; }
  body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
  body {
    background-color: $bgcolor !important;
    color: #fff;
    height: 100%;
  }
  .mu-tooltip{
    background:red;
  }
  header.mu-appbar {
    height: 65px;
    text-align: center;
    background-color:#002135 !important;
    display: block!important;
    position: relative;
    .mu-appbar-left {
      float:left;
      .changenav{
        display: none;
      }
     
    }
    .mu-appbar-title {
      display: flex;
      justify-content: center;
      font-size: 28px;
      font-weight: bold;
      background: url("../../image/logo-bg.jpg") top center no-repeat;
      img {
        margin-right: 5px;
        height: 48px;
        margin-top: 8px;
      }
    }
    .mu-appbar-right{
      position: absolute;
      right: 0;
      top: 0;
    }
    .mu-appbar-right button{
      box-shadow: none;
    }
    .mu-raised-button{
      height:100%;
      border-radius: none;
      background-color:transparent;
      color:#fff;
    }
  }
  .infoval {
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 5px;
    width: 100%;
    z-index: 999;
    span {
      margin-right: 5px;
    }
  }

  nav {
    background-color: #013857;
    height: 40px;
    display: flex;
    justify-content: space-between;
    >span{
      color: #fff;
      line-height:40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin:0 10px;
    }
  }
  .sidebar-menu > ul {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;

    li > a {
      padding: 0 30px;
      display: inline-block;
      color: #fff;
      text-decoration: none;
    }
    .sidebar-dropdown > a:hover {
      border-bottom: 2px solid $bdcolor;
      line-height: 36px;
    }
    .sidebar-dropdown:hover .spritesbox {
      display: block;
    }
    .sidebar-dropdown.active {
      > a {
        border-bottom: 2px solid $bdcolor;
        line-height: 36px;
      }
    }
    .sidebar-submenu {
      text-align: center;
      background: $bgcolor;
      color: #fff;
      border: 1px solid $bdcolor;

      li:hover {
        background: #014468;
      }
      .ischecked {
        background: #014468;
      }
    }
    .spritesbox {
      display: none;
      z-index: 99999;
    }
  }

  .content {
    height: 100%;
  }
  .content > div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .grid-cell {
      height: 100px;
      background: red;
    }
    .commondiv {
      width: calc(100% / 12 * 3);
      max-width: 350px;
      height: auto;
      padding-bottom: 10px;
      background: rgba(0, 33, 53, 0.8);
      border: 1px solid $bdcolor;
      z-index: 99;
      .title {
        max-width: 259px;
        height: 35px;
        background: url(../../image/titlebg.jpg) no-repeat;
        margin: -2px auto 0;
        color: #fff;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
      }
    }
    .demo-chip{
      position: absolute!important;
      z-index: 999;
    }
    .mymap {
      width:100%;
      height: 100%;
      min-height:768px;
      z-index: 9;
    }
    .legend {
      position: absolute;
      left: 370px;
      bottom: 150px;
      z-index: 999;
      top: inherit;
      color: #fff;
      padding: 10px;
      background: rgba(0, 33, 53, 0.8);
      border: 1px solid $bdcolor;
      display: flex;
      flex-flow: column;
      .legendcontents {
        div {
          display: flex;
          flex-flow: row;
          align-items: center;
          i {
            width: 10px;
            height: 10px;
            margin-right: 3px;
          }
        }
        .lendimg{
          display: flex;
          img{
            width:13px;
            height:70px;
          }
          .imgright{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            height:70px;
            margin-left:5px;
          }
        }
      }
    }
    .rotation {
      background: rgba(0, 33, 53, 0.8);
      border: 1px solid $bdcolor;
      //width: calc(100% / 12 * 6);
      height: 90px;
      position: absolute;
      left: 50%;
      bottom: 5px;
      z-index: 999;
      .rotationcontents {
        display: flex;
        align-items: center;
        height: 65px;
        > span {
          margin-top: 20px;
          cursor: pointer;
        }
        .left {
          margin-right: 3px;
        }
        .rotationdetail {
          margin: 0 3px;
          ul {
            display: flex;
            margin-top: 15px;
            height: 56px;
          }
          li {
            cursor: pointer;
            text-align: center;
            display: flex;
            flex-flow: column;
            color: #fff;
            .linedot {
              position: relative;
              margin: 7px 0;
            }
            .line {
              height: 6px;
              background-image: -webkit-linear-gradient(top, #0068b0, #013e64);
            }
            .dot {
              width: 17px;
              height: 17px;
              background: url(../../image/center1.png) no-repeat;
              position: absolute;
              left: 50%;
              margin-left: -8px;
              top: -6px;
            }
          }
          .current .dot{
            background: url(../../image/center2.png) no-repeat;
          }
        }
      }
    }
    .mystatistics {
      position: absolute;
      top: 10px;
      left: 10px;
      height:325px;
      .staticsnum {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top:10px;
        > div {
          border: 1px solid $bdcolor;
          width: 48%;
          p {
            height: 22px;
            background-color: $bdcolor;
            text-align: center;
            line-height: 22px;
          }
          div {
            display: flex;
            justify-content: center;
            align-items: baseline;
            height: 40px;
            line-height: 40px;
            text-align: center;
            .num {
              font-weight: bold;
              font-size: 20px;
            }
            .unit {
              color: #bdbdbd;
            }
          }
        }
      }
      #staticschart {
        width: 100%;
        min-height: 216px;
      }
    }
    .icon-container {
      display: flex;
      width: 300px;
      justify-content: space-around;
    }
    .icon-container .mu-icon {
      margin-bottom: 12px;
    }
    .myoverview {
      bottom: 10px;
      left: 10px;
      position: absolute;
      min-height: 310px;
      .overcontents {
        width: 100%;
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li {
            width: 40%;
            margin: 3% 5%;
            text-align: center;
            color: #fff;
            // margin-top:5%;
            .overtitle {
              margin-top: 2px;
            }
            .overimg0{
              background: url(../../image/roundbg01.png) center center no-repeat;
            }
            .overimg1{
              background: url(../../image/roundbg02.png) center center no-repeat;
            }
            .overimg2{
              background: url(../../image/roundbg03.png) center center no-repeat;
            }
            .overimg3{
              background: url(../../image/roundbg04.png) center center no-repeat;
            }
            .overdiv{
              width: 100%;
              height: 90px;
              display: flex;
              flex-direction: column;
              .overnum {
                font-size: 20px;
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
                width: 78px;
                margin: 10px auto 0;
              }
              .overunit {
                color: #bdbdbd;
              }
            }
          }
        }
      }
    }
    .mytable {
      right: 10px;
      top: 10px;
      position: absolute;
      .arrow-up span {
        color: #59ace2;
      }
      .arrow-right span {
        color: #78cd51;
      }
      .arrow-down span {
        color: #ff7064;
      }
      .mu-table-empty {
        color: #fff;
      }
    }
    .mychart {
      bottom: 10px;
      right: 10px;
      position: absolute;
      .changechart {
        cursor: pointer;
        float: right;
        margin: 5px 5px 0 0;
        z-index: 99999;
        a {
          color: #fff;
          margin-left: 2px;
        }
        img {
          float: left;
        }
      }
      #rightchart {
        width: 100%;
        height: 80%;
        margin-top: 18px;
      }
    }
    .rightbtn{
      position: absolute;
      top: 10px;
      right: 381px;
      z-index: 999;
      >div{
        width:30px;
        height:30px;
      }
      .changelevel,.basemapchange{
        width:30px;
        height:30px;
        background:url(../../image/templatebg.png) no-repeat;
        background-size: 100%;
        text-align: center;
        cursor:pointer;
      }
      .changelevel{
        padding-top: 4px;
        font-size: 15px;
        font-weight: bold;
        span{
          display: block;
          
        }
      }
      .basemapchange{
        .mapimg{
          text-align: center;
          i{
            font-size: 20px;
            margin-top: 5px;
          }
          // img{
          //   margin-top: 7px;
          //   width: 16px;
          // }
        }
        .mapselect{
          width:auto;
          border:1px solid #fff;
          position: absolute;
          right: 32px;
          top: 31px;
          display: flex;
          >div{
            width:50px;
            height:50px;
            position: relative;
            margin:2px;
            overflow: hidden;
            cursor: pointer;
            img{
              height:50px;
            }
            span{
              display: block;
              width:50px;
              height:50px;
              background:rgba(0,33,53,.2)!important;
              color:#fff;
              text-align: center;
              position: absolute;
              line-height:50px;
              left:0;
              top:0;
            }
          }
          >div.open{
            border:2px solid #006ca8;
          }
          >div:hover{
            span{
              background:rgba(0,33,53,.5)!important;
            }
          }
        }
      }
    }
  }
  //地图
  .leaflet-popup-content-wrapper,.leaflet-popup-tip{
    background:#002135 !important;
  }
  .leaflet-top.leaflet-right{
    top:61px;
    right:370px;
  }
  .leaflet-touch .leaflet-bar a{
    background:url(../../image/templatebg.png) no-repeat;
    background-size: 100%;
    color: #fff;
    border: none;
    background-color: transparent;
    margin-bottom:2px;
  }
  .leaflet-touch .leaflet-bar a:hover{
    box-shadow: 0 0 10px #59ace2
  }
  .leaflet-control-zoom.leaflet-bar.leaflet-control{
    border:none;
  }
  //mu-dialog
  .dialogtitle{
    height:14px;
    font-weight:bold;
    margin-top:20px;
    line-height:30px;
    height:30px;
  }
  .login{
    padding-top:100px;
    background:url(../../image/bgimg.png) no-repeat;
    height:100%;
    h2{
      font-size:30px;
      text-align: center;
      margin-bottom:40px;
      color:#fff;
    }
    .mu-demo-form {
      width: 100%;
      max-width: 460px;
      color:#fff;
      margin:0 auto;
    }
    .mu-form-item-label{
      color:#fff;
      font-size:16px;
      font-weight:bold;
      line-height:40px;
    }
    .mu-form-item-help{
      color:rgba(255,255,255,.54)!important;
    }
    .mu-text-field-input{
      color: #fff;
      border-color: #fff
    }
    .mu-input-line{
      background-color:rgba(255,255,255,.3)!important;
    }
    .mu-form-item-content button{
      margin:6px 0;
    }
    .btndefalut{
      background:transparent;
      border:1px solid #FFC000;
      color:#fff;
    }
    .btncurrent{
      background:#FFC000;
      color:#000;
    }
    .mu-checkbox {
      color: rgba(255,255,255,.54);
      .mu-checkbox-label{
        color: rgba(255,255,255,.87);
      }
    }
  }
  //左右上下icon
  .spritesbox {
    position: relative;
    > span {
      width: 16px;
      height: 16px;
      position: absolute;
      background: url(../../image/icons-sprites.png) no-repeat;
      z-index: 999;
    }
    .sprites-lt {
      background-position: 0 0;
      left: -1px;
      top: -1px;
    }
    .sprites-rt {
      background-position: -16px 0;
      right: -1px;
      top: -1px;
    }
    .sprites-lb {
      background-position: -32px 0;
      left: -1px;
      bottom: -1px;
    }
    .sprites-rb {
      background-position: -48px 0;
      right: -1px;
      bottom: -1px;
    }
  }
  //table
  .mu-table {
    background: transparent;
    tr {
      min-height: 30px;
      height:35px;
      cursor: pointer;
    }
    tr.is-hover {
      background: #014468;
    }
    th,
    td {
      padding: 0 10px;
      font-size: 12px;
      color: #fff;
      border-bottom: 1px solid rgba(0, 108, 168, 0.3);
    }
    th {
      height: 45px;
      width: 20px;
      white-space: normal !important;
    }
    th.is-sorting,
    th.is-sortable:hover {
      color: #fff !important;
    }
    tr.is-selected{
      background: #014468!important;
    }
    th:hover,
    th {
      color: #f1f1f1 !important;
    }
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
      width: 3px;
      height: 16px;
      background-color: #f5f5f5;
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
      // border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // background-color: #555;
      border-radius: 10px;
      background-color: #2268ac;
      background-image: -webkit-linear-gradient(
        90deg,
        #2268ac 25%,
        transparent 25%,
        rgba(131, 191, 246, 0.1) 75%,
        transparent 75%,
        transparent
      );
    }
  }
  .mu-flat-button{
    min-width:44px!important;
  }
  .mu-item{
    height:40px;
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 3px;
    height: 16px;
    background-color: #f5f5f5;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // background-color: #555;
    border-radius: 10px;
    background-color: #666;
    background-image: -webkit-linear-gradient(
      90deg,
      #666 25%,
      transparent 25%,
      rgba(131, 191, 246, 0.1) 75%,
      transparent 75%,
      transparent
    );
  }
}

//phone
@media (min-width: 300px) and (max-width: 1300px) {
  small{ font-size:0.25rem; }
  body, button, input, select, textarea { font:0.25rem/1.5tahoma, arial, \5b8b\4f53; }
  body {
    background-color: #002135 !important;
    color: #fff;
    overflow: auto;
    font-size:0.25rem;
    height:100%;
  }
  header.mu-appbar{
    position: fixed;
    top:0;
    z-index: 99999;
    height:1rem;
    background:#00466d;
    .mu-button-wrapper .material-icons{
      font-size:0.5rem;
    }
    .mu-appbar-title{
      text-align:center;
      span{
        font-size:0.4rem;
      }
    }
    .mu-icon-button{
      width:0.816rem;
      height:0.816rem;
      font-size:0.48rem;
    }
    .mu-flat-button .mu-button-wrapper{
      padding:0;
      width:0.88rem;
    }
    // .mu-popover.transition-right-end{
    //   top:1rem!important;
    //   z-index: 999;
    // }
  }
  
  .sidebar-wrapper{
    width:100%;
    background:#013857;
    
    position: relative;
    .sidebar-dropdown.active{
      .first{
        background:#006ca8;
      }
      .spritesbox{
        display: block;
        .sidebar-submenu{
          .ischecked{
            background:#006ca8;
          }
        }
        
      }
    }
    .first{
      width: 50%;
      height: 1rem;
      line-height: 1rem;
      display: block;
      font-size:0.3rem;
      color:#fff;
      text-decoration:none;
      span{
        margin-left:0.2rem;
      }
    }
    .spritesbox{
      display: none;
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      .sidebar-submenu{
        margin-left:0.2rem;
        li{
          height: 1rem;
          line-height: 1rem;
          font-size:0.3rem;
          >div{
            margin-left:0.2rem;
          }
        }
      }
    }
    .mu-item-wrapper,.mu-item-wrapper:hover{
      text-decoration: none;
    }
  }
  nav{
    position: fixed;
    left: 0;
    top: 1rem;
    z-index: 99999;
    width: 100%;
  }
  .content{
    padding-top:1rem;
  }
  .contentbox{
    display: flex;
      flex-flow:column;
    .commondiv{
      padding:0.2rem;
      >span{
        display: none;
      }
      .title{
        text-align: center;
        font-size: 0.35rem;
        height:1rem;
        line-height:1rem;
        font-weight:bold;
        background:#002a44;
      }
    }
    #map{
      height:8rem;
    }
    .mystatistics {
      >div{
        background:#002a44;
      }
      .staticsnum {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
        //margin-top:0.2rem;
        > div {
          border: 1px solid #006ca8;
          width: 48%;
          p {
            height: 0.5rem;
            background-color: #006ca8;
            text-align: center;
            line-height: 0.5rem;
            font-size:0.3rem;
          }
          div {
            display: flex;
            justify-content: center;
            align-items: baseline;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: center;
            .num {
              font-weight: bold;
              font-size: 0.4rem;
            }
            .unit {
              color: #bdbdbd;
              font-size:0.25rem;
            }
          }
        }
      }
      #staticschart {
        width: 90%;
        height: 5rem;
        margin:0.3rem auto 0;
      }
    }
    .myoverview {
      height: 7rem;
      .overcontents {
        width: 100%;
        background:#002a44;
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li {
            width: 40%;
            margin: 3% 5%;
            text-align: center;
            color: #fff;
            // margin-top:5%;
            .overtitle {
              margin-top: 0.04rem;
              font-size:0.25rem;
            }
            .overimg0{
              background: url(../../image/roundbg01.png) center center no-repeat;
            }
            .overimg1{
              background: url(../../image/roundbg02.png) center center no-repeat;
            }
            .overimg2{
              background: url(../../image/roundbg03.png) center center no-repeat;
            }
            .overimg3{
              background: url(../../image/roundbg04.png) center center no-repeat;
            }
            .overdiv{
              width: 2rem;
              height: 2rem;
              display: flex;
              flex-direction: column;
              background-size:100%;
              margin-left:0.5rem;
              .overnum {
                font-size: 0.4rem;
                font-weight: bold;
                margin-top: 0.2rem;
              }
              .overunit {
                color: #bdbdbd;
                font-size:0.25rem;
              }
            }
          }
        }
      }
    }
    .mychart{
      #rightchart{
        height:5rem;
        background:#002a44
      }
      .changechart{
        padding-right:0.2rem;
        text-align: right;
        background:#002a44;
        font-size:0.2rem;
        display: flex;
        justify-content:flex-end;
        img{
          width:0.4rem;
          height:0.4rem;
        }
        a{
          color:#fff;
          margin-left:2px;
          font-size:0.3rem;
        }
      }
    }
    #chart{
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.6);
      position: absolute;
      z-index: 99999;
      top:0;
      left:0
    }
    #marker{
      width: 7rem; 
      height: 6rem;
      padding:0.5rem 0.3rem 0.3rem;
      background:#00466d;
      margin-top:2rem;
      margin-left:0.25rem;
      border-radius:5px;
    }
    .mu-table.mu-table-flex{
      height:6rem!important;
      width:7.1rem!important;
      margin:0 auto;
      background:#002a44;
    }
    .mu-table-body-wrapper {
      height:5rem!important;
      overflow-y:auto;
      overflow-x:hidden;
      padding:0 0.1rem;
    }
    .rightbtn{
      position: absolute;
      top: 0.25rem;
      left: 10px;
      width: 0.61rem;
      height: 1.83rem;
      z-index: 9999;
      border-radius: 2px;
      //overflow: hidden;
      >div:first-child{
        border-radius: 2px 2px 0 0;
      }
      >div:last-child{
        border-radius: 0 0 2px 2px;
      }
      >div{
        width:0.6rem;
        // background:rgba(0,174,255,0.7);
        background:#006ca8;
        color:#fff;
        font-size:0.3rem;
        font-weight:bold;
        text-align: center;
        line-height:0.6rem;
        height:0.6rem;
        //border-radius: 2px;
        i{
          font-size:0.4rem;
        }
      }
      .basemapchange{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        position: relative;
      
        .mapimg{
          padding:0.08rem;
          height:0.6rem;
          img{
            //margin-top:0.1rem;
            width:0.35rem;
            height:0.35rem;
          }
        }
        
        .mapselect{
          width: 3rem;
          position: absolute;
          left: 0.6rem;
          top:0;
          z-index: 9999999999999;
          background: #fff;
          display: flex;
          flex-flow: row;
          padding:0.05rem;
          justify-content: space-between;
          >div{
            width: 0.95rem;
            display: flex;
            flex-flow: column;
            border:2px solid #fff;
            img{
              width:100%;
              height:0.8rem;
            }
            span{
              color:rgba(0,0,0,0.54);
              font-size:0.24rem;
              height:0.5rem;
              line-height:0.5rem;
            }
          }
          div.open{
            border:2px solid #0068b0;
          }
        }
      }
    }
    .leaflet-control-zoom.leaflet-bar.leaflet-control{
      margin-top:0.25rem;
      border:none;
      a{
        width:0.6rem;
        height:0.6rem;
        background:#006ca8;
        color:#fff;
        font-size:0.4rem;
        font-weight:bold;
        text-align: center;
        line-height:0.6rem;
      }
    }
    .legend{
      position: absolute;
      z-index: 9999;
      bottom: 0.2rem;
      left: 0.2rem;
      font-size: 0.2rem;
      background: rgba(0, 42, 68, 0.8);
      border: 1px solid #555;
      padding:2px;
      .legendcontents{
        div {
          display: flex;
          flex-flow: row;
          align-items: center;
          i {
            width: 0.2rem;
            height: 0.2rem;
            margin: 0 3px;
          }
        }
        .lendimg{
          display: flex;
          img{
            width:0.24rem;
            height:1.4rem;
          }
          .imgright{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            height:1.4rem;
            margin-left:5px;
          }
        }
      }
      
    }
  }
  .spritesbox>span{
    display: none;
  }
  .infoval{
    text-align: center;
    font-size:0.24rem;
    line-height:0.6rem;
  }
  //table
  .mu-table {
    background: transparent;
    .arrow-up span {
      color: #59ace2;
    }
    .arrow-right span {
      color: #78cd51;
    }
    .arrow-down span {
      color: #ff7064;
    }
    .mu-table-empty {
      color: #fff;
    }
    tr {
      min-height: 0.6rem;
      height:0.6rem;
      cursor: pointer;
    }
    tr.is-hover {
      background: #014468;
    }
    th,
    td {
      padding: 0 0.2rem;
      font-size: 0.25rem;
      color: #fff;
      border-bottom: 1px solid rgba(0, 108, 168, 0.3);
    }
    th {
      height: 1rem;
      width: 0.4rem;
      white-space: normal !important;
    }
    th.is-sorting,
    th.is-sortable:hover {
      color: #fff !important;
    }
    tr.is-selected{
      background: #014468!important;
    }
    th:hover,
    th {
      color: #f1f1f1 !important;
    }
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
      width: 0.06rem;
      height: 0.32rem;
      background-color: #f5f5f5;
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
      // border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // background-color: #555;
      border-radius: 0.2rem;
      background-color: #2268ac;
      background-image: -webkit-linear-gradient(
        90deg,
        #2268ac 25%,
        transparent 25%,
        rgba(131, 191, 246, 0.1) 75%,
        transparent 75%,
        transparent
      );
    }
  }
  .mu-flat-button{
    min-width:44px!important;
  }
  
  .login{
    width: 100%;
    //background:red;
    overflow-x: hidden;
    height: 100%;
    background:url("../../image/bgimg-phone.png") no-repeat;
    background-position: 100%;
    background-size: 100%;
    i{
      color:#fff;
    }
    .mu-input-help{
      color:rgba(255,255,255,0.54)
    }
    .mu-text-field-input{
      color: #fff;
      border-color: #fff;
      height:0.6rem;
      line-height:0.6rem;
      font-size:0.32rem;
      //width:6rem;
      float:left;
    }
    .mu-input{
      width:6rem;
      margin-bottom:0.6rem;
      float:left;
      i{
        font-size:0.48rem;
      }
    }
    .mu-input.has-icon{
      padding-left:1.12rem;
    }
    .password .mu-input-action-icon.mu-icon.material-icons{
      position: absolute;
      right: -0.58rem;
      top: 0px;
    }  

    .formtitle{
      font-size: 0.45rem;
      text-align: center;
      margin-top: 1rem;
      color:#fff;
    }

    .mu-form-item{
      display: block;
    }
    .mu-demo-form {
      width: 6.5rem;
      color: #fff;
      margin:0.5rem auto 0;
      overflow: auto;
    }
    .mu-button{
      float:left;
      margin-top:0.15rem;
      width:6rem;
      margin-left:0.25rem;
      font-size:0.32rem;
      height:0.6rem;
    }
    .mu-checkbox {
      float:left;
      margin:0.1rem 0;
      height:0.5rem;
    }
    .mu-input-help{
      font-size:0.24rem;
      line-height:0;
      position: absolute;
      bottom: -28px;
    }
    
    .mu-input-line{
      background-color:rgba(255,255,255,.3)!important;
    }
    // .mu-form-item-content button{
    //   margin:6px 0;
    //   line-height:0.8rem;
    //   height:0.8rem;
    //   font-size:0.32rem;
    //   //width:6rem;
    //   float:left;
    // }
    .btndefalut{
      background:transparent;
      border:1px solid #FFC000;
      color:#fff;
    }
    .btncurrent{
      background:#FFC000;
      color:#000;
    }
    .mu-checkbox {
      color: rgba(255,255,255,.54);
      .mu-checkbox-svg-icon,.mu-checkbox-icon{
        width:0.48rem;
        height:0.48rem;
      }
      .mu-checkbox-icon{
        margin-right:0.16rem;
        float:left;
        margin-left:0.24rem;
      }
      .mu-checkbox-label{
        color: rgba(255,255,255,.87);
        font-size:0.3rem;
        height:0.48rem;
        line-height:0.48rem;
        float:left;
      }
      .mu-checkbox-ripple-wrapper{
        width:0.96rem;
        height:0.96rem;
        top: -0.24rem;
        left: -0.24rem;
      }
    }
    
  }
  .mu-snackbar.mu-error-color.mu-inverse.mu-snackbar-bottom{
    width: 5rem;
    height: 1rem;
    top: 5rem;
    font-size: 0.3rem;
    border-radius:0.1rem;
    div{
      text-align: center;
      display: inline-block;
      width:100%;
    }
    .mu-snackbar-action{
      display: none;
    }
  }
  .menubox{
    width:2rem;
    height:auto;
    line-height:1rem;
    padding:0;
    li{
      height:1rem;
      line-height:1rem;
    }
    .menutitle,.mu-item{
      height:1rem;
      line-height:1rem;
      font-size:0.31rem;
      text-align: center;
    }
  }
  
  // 轮播
  .mu-bottom-sheet{
    padding:0.2rem;
    background: #013857;
    span{
      //background-color: rgb(244, 67, 54);
      //background:#006ca8;
      border:1px solid #006ca8;
      background:transparent;
      color:#fff;
      width: 49%;
      margin: 0.2rem 0.5% 0;
      text-align: center;
      display: inline-block;
      height:0.8rem;
      line-height:0.8rem;
      font-size:0.3rem;
    }
    span:last-child{
      margin-bottom:0.2rem;
    }
    span.current{
      background:#006ca8;
    }
    .mu-chip:hover{
      background:#006ca8;
    }
    button{
      height:0.8rem;
      line-height:0.8rem;
      width:2rem;
      margin:0.2rem 0.1rem;
      font-size:0.3rem;
    }
  }
  .d-flex.flex-row.justify-content-center.align-items-start{
    button{
      width: 7.1rem;
      margin-top: 0.3rem;
      margin-bottom: 0.1rem;
      background: #006ca8;
      font-size:0.35rem;
      color:#fff;
      height:1rem;
      line-height:1rem;
    }
  }
  
}



